<div class="scroll-none">
    <span class="title">{{category.description}}</span> <button class="button" ng-click="addTask({category: category})">✚</button>
</div>
<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="50" refresh-on-change="category.tasks.list">

    <div class="task-list" id="task-list-{{category.description}}">
        <table style="width: 100%">
            <tr ng-repeat="task in category.tasks.list" class="repeated-item" style="width: 100%;">
                <td>
                    <button class="button not-done" ng-click="deleteTask({category: category, index: $index})">✓</button>
                </td>
                <td style="width: 100%;">
                    <input class="task" type="text" id="{{category.description}}-{{$index}}" ng-model="category.tasks.list[$index].description" ng-change="change()" initial-focus placeholder="Slave, stop dawdling!" ng-keydown="taskKeypress({event: $event, category: category, index: $index})"></input>
                </td>
            </tr>
        </table>
    </div>
</perfect-scrollbar>
