<span class="title">{{title}}</span> <button class="button" ng-click="addTask({category: category})">✚</button>
<div class="task-list">
  <table style="width: 100%">
    <tr ng-repeat="task in category.tasks.list">
      <td>
        <button class="button not-done" ng-click="deleteTask({category: category, index: $index})">✓</button>
      </td>
      <td style="width: 100%">
        <!--  ui-keydown="{'enter':'keypressCallback2($event)'}" -->
        <input class="task" type="text" ng-model="category.tasks.list[$index].description" ng-change="change()" initial-focus placeholder="Slave, stop dawdling!" ng-keydown="taskKeypress({event: $event})"></input>
      </td>
    </tr>
  </table>
</div>
